body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #35424a;
    color: white;
    padding: 20px 0px;
    text-align: center;
}

main{
    padding: 20px ;
    background-color: #ffffff;
    flex-grow: 1;
}

section{
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.container{
    display: flex;
}

.sidebar{
    background-color: #2c3e50;
    width: 20%;
    height: 100vh;
    padding: 15px;
    padding-bottom: 0px;
    flex-shrink: 0;
    overflow: auto;
    
    ul{
        list-style-type: none;  
        padding: 0;
    }
   
   
    a{
        text-decoration: none;
        color: white;
        display: block;
        padding: 10px;
        transition: background-color 0.3s;
    }
   
}

.sidebar ul li a:hover{
    background-color: #1abc9c;
    cursor: pointer;
}

@media (max-width:760px){
    main{
        width: 100%;
    }

    .sidebar{
        width: 100%;
        order: -1;
        height: 200px;
    }

    .container{
        flex-direction: column;
    }
    
    header{
        font-size: 13px;
        width: 100%;
    }

}

